    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        height: 100vh;
    }
    
    .ballstyle {
        background-color: red;
        border-radius: 50%;
        position: absolute;
    }